body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}








footer {
  text-align: center;
  color:#666;
  padding: 20px 10px;
  background-color: #4e5253;
}

footer a {
  color: #cff1f2 !important;
}

.small, small {
  font-size: 75%;
}

.buttons-social {
display: inline-block;
}

.buttons-social a {
text-decoration: none;
font-size: 20px;
width: 45px;
height: 45px;
line-height: 45px;
text-align: center;
background: #434748;
color: #f1f1f1;
margin-right: 5px;
margin-left: 5px;
border-radius: 50%;
/* box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); */
transition: all .4s ease-in-out;
}

.buttons-social a:hover {
transform: scale(1.2);
}

.c-email {
  text-decoration: underline;
}

.bg-green-light {
  background-color: #d3f1cd;
}

h2 {
  font-weight: bolder;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}  

.px-c {
  padding: 0.10rem !important;
}

.slide-info {
  padding: 40px;
}  

.block-middle a, .lead a {
  color: #4e5253;
  font-weight: 700;
}  


#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  background-color: #f2f6f7 !important;
  box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
  -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
}

@media (min-width: 992px) {
#mainNav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

.rounded {
  border-radius: 0.5rem !important;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.masthead {
  padding-top: calc(1rem + 65px);
  padding-bottom: 6rem;
}


.h2-lg {
  font-size: 3rem !important;
}

.h2-md {
  font-size: 2.5rem !important;
}


.list-inline>li {
  display: inline-block;
}

a:hover {
  text-decoration: none !important;
}

.mbr-table-cell {
  display: table-cell;
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: middle;
}


.mbr-table-md-up .mbr-table-cell {
  display: block;
}


@media (min-width: 768px) {
.mbr-table-md-up .mbr-table-cell {
  display: table-cell;
  }

  .mbr-right-padding-md-up {
    padding-right: 85px;
    }

  .navbar>.container, .navbar>.container-fluid {
    /* -webkit-box-align: center; */
    -ms-flex-align: flex-end;
    align-items: flex-end;
  }

  .size-cart {
    font-size: 18px;
  }
}

.nav-link:focus, .nav-link:hover {
    color: #009cff;
}

.mbr-valign-top {
  vertical-align: top;
}

iframe {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 325px;
  overflow: hidden;
  display: block;
}

.margin-vertical {
  margin: 25px 0 20px 0;
}


.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h2{
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
font-size: 17px;
font-weight: bold; 
}

.gallery-block.cards-gallery .card{
transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.card-body {
padding: 2.5rem;
}

.gallery-block.cards-gallery .card-body {
background-color: #cdf1f1;
}

.gallery-block.cards-gallery .card-body p {
font-size: 15px; 
}

.gallery-block.cards-gallery a {
color: #4e5253;
font-weight: 700; 
}

.gallery-block.cards-gallery a:hover {
text-decoration: none; 
}

.gallery-block.cards-gallery .card {
margin-bottom: 30px; 
/*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);*/
}

@media (min-width: 576px) {
  .masthead {
  padding-top: calc(0.5rem + 74px);
  padding-bottom: 6rem;
  }

  .gallery-block .transform-on-hover:hover {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
  }
}




.gallery-block.compact-gallery .item{
overflow: hidden;
margin-bottom: 0;
opacity: 1;
}

.gallery-block.compact-gallery .item .image{
transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
position: relative;
  display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 2.5rem;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.69));
}

.gallery-block.compact-gallery .item .description .description-heading{
font-size: 1.5em;
line-height: 1.2em;
font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
font-size: 1em;
margin-top: 10px;
font-weight: 300;
}

@media (min-width: 576px) {

.gallery-block.compact-gallery .item .description {
  opacity: 0; 
  text-align: left;
  color: #4e5253;
  background: #f1edc0;
}

.gallery-block.compact-gallery .item a:hover .description {
  opacity: 1; 
} 

.gallery-block.compact-gallery .item .description .description-body{
font-size: 0.8em;
}

.gallery-block .zoom-on-hover:hover .image {
  transform: scale(1.3);
  opacity: 0.7; 
}
}












main{
  width: 90%;
  margin: 10px auto;
}

.precios{
  font-size: 18px;
  margin-bottom: 0;
}

.titulares{
  color: #666;
  font-size: 24px;
}

.descuentos{ 
  font-size: 16px; 
  color: #26bb58;
  width: 70%;
  margin-top: 0; 
  margin-right: 30px;
  padding-bottom: 10px;
}

.descripciones{  
  font-size: 16px; 
  color: #666;
  font-weight: 400;
  margin-bottom: 0px;
}

.copy-header-cel, .copy-header-desktop{
  font-size: 12px;  
  font-weight: 400;
  text-align: center;
}

.main-header{
  background-color: #EAC926;
  padding: 20px 10px 20px 15px;
  margin: auto;
}

.burger-menu{
  background-color:#03264C;
  color: #ebebeb;
  display: block;
  max-width: 50px;
  padding: 10px 0 ;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  margin:auto;
}

.logo-buscador{
  display: flex;
  justify-content: center;
}

.logo-cel{
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  padding-right: 10px;
}

.buscador{
  display: block;
  text-align: center;
}

.buscador-barra{
  width: 64%;
}

.buscar {  
  height: 33px;
  padding: 0 15px;
  text-align: center;
  margin: auto;
  margin-left: 2px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.copy-header-cel{
  margin: auto;
  padding: 20px 15px 30px 15px ;
}

.copy-header-desktop{
display: none;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 16px ;
}

.banner {
  width: 100%;
  height: auto;
}

article {
  margin: 10px 0;
}

.ultima-visita {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contenedor-articulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #26bb58;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: 0.8s;
}

main section article i svg {
  vertical-align: baseline;
}

.img-producto {
  vertical-align: top;
}

.info-producto{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content:space-between;
  position: relative;
  border-top: 1px solid #ebebeb;
  background-color: white;
  padding: 15px;
}

.precio{
  width: 30%;
}

footer h4 {
  margin-bottom: 0;
  margin-top: 0;
}

footer p {
  font-size: 12px;
  padding: 0px 50px 0px 50px;
  margin-top: 0;
}

footer i {
  margin-bottom: 10px;
  margin-top: 40px;
  color:#2060a5
}

.copyright{
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

h1{
  color: #03264C;
  text-align: center;
  margin: auto;
}

form {
  position: relative;
  top: 60px;
  width: 40vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #03264C;
}

.nacimiento{
  padding-top: 10px;
}

input::placeholder{
  font-size: 15px;
  color: #3b3b4f;
  padding-left: 10px;
}

input[type="date"]{
  color: #3b3b4f;
}

input,
textarea,
select {
margin: 5px 0 20px 0;
width: 100%;
min-height: 2em;
}

.categories {
  margin: 10px 0;
}

.categories label {
  display: inline-block;
  margin: 0.5rem 0;
  padding-right: 10px;
}

.categories input[type="checkbox"] {
  display: inline-block !important;
  vertical-align: middle;
  width: auto;
  margin-bottom: 10px;
}

input, textarea {
background-color: white;
border: 1px solid #0a0a23;
color: #1f1f1f;
}

input[type="file"] {
padding: 8px 2px;
}

.botones-formulario{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 2px 0 2px;
}

form button{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.crear-cuenta{
  background-color: #0022AA;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px; 
}

.borrar-todo{
  background-color: rgba(167, 32, 32, 1);
}

.perfil-usuario{
text-align: center;
padding-bottom: 5px;
font-weight: 800;
}

.perfil-crear{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.interes-usuario{
  text-align: center;
  padding-bottom: 10px;
  font-weight: 800;
}
  
.intereses-usuario{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-decoration: underline;
}

.foto-perfil{
  text-align: center;
  padding-bottom: 5px;
  font-weight: 800;
}
  
form button{
  margin: auto;
  background-color: #0022AA;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

form button {
  margin: 10px auto;
  display: block;
  text-align: center;
}


@media screen and (min-width: 479px) {

  .articulo-venta {
      width: 45%;
  }
}


@media screen and (min-width: 767px) {

  .burger-menu {
      display: none;
  }

  .articulo-venta {
      width: 45%;
  }

  .articulo-venta:hover{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      transition: box-shadow 0.5s ease-in-out;
  }

  .articulo-venta{
      transition: 1s;
  }

  main section article i:hover{
      transition: 0.7s;
      transform: rotate(-90deg)
  }

  .descripciones{
      visibility: hidden;
  }
  
  .articulo-venta:hover .descripciones{
      visibility: visible;
  }

  .main-header-top-bar {
      width: 90%;
      margin: 0 auto;
      display: flex;
      padding-bottom: 20px;
  }
  
  .logo-buscador{
     width: 100%;
  }

  .logo{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

  .logo-cel{
      display: none;
  }

  .link-logo{
      display: flex;
      flex-wrap: wrap;
      width: 25%;
  }

  .buscador{
      display: block;
      text-align: center;
      width: 50%;
  }

  .copy-header-cel{
      display: none;
  }

  .copy-header-desktop{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      text-align: left;
      width: 25%;
  }

  .burger-menu{
      display: none;
  }

  .main-navbar{
      display: block;
      margin: 0 auto;
  }

  .main-navbar ul{
      display: block;
      text-align: center;
  }
  
  .main-navbar li {
      display: inline-block;
      padding: 0 5%;
  }
  
  .main-navbar li a {
     font-size: 16px;
  }

  .main-navbar li a:hover{
      text-decoration: underline rgb(116, 113, 113);
  }

  .main-navbar li a:active{
      color: #0831d6;
  }

  footer div i:hover{
      transition: 0.5s;
      color: #0022AA;
  }

  .crear-cuenta{
      background-color: #5383bd;        
  }
  
  .borrar-todo{
      background-color: rgba(167, 32, 32, 0.8);
  }
  
  .crear-cuenta:hover{
      background-color: #0022AA ;
      transition: background-color 0.5s;
  }
  
  .borrar-todo:hover{
      background-color:rgb(201, 7, 7) ;
      transition: background-color 0.5s;
  }
  
  
  form button{
      background-color:#5383bd ;
  }
  
  form button:hover{
      transition: 0.5s;
      background-color: #0022AA;
  }    
  
  footer{
      display: flex;
      flex-flow: column;
  }

  
  .copyright, .pie-pagina{
      display: flex; 
  }

  .copyright{
      justify-content: left;
      align-items: flex-end;
  }

}

@media screen and (min-width: 991px){
  
  .articulo-venta{
      width: 22%;
  }

  .main-header-top-bar {
      display: flex;
      padding-bottom: 20px;
  }
  
  .logo-buscador{
     width: 100%;
     justify-content:space-around;
  }

  .logo{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

  .logo-cel{
      display: none;
  }

  .link-logo{
      display: flex;
      flex-wrap: wrap;
      width: 25%;
  }
  
  .buscador{
      display: block;
      text-align: center;
      width: 50%;
  }

  .copy-header-cel{
      display: none;
  }

  .copy-header-desktop{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      text-align: left;
      width: 25%;
      font-size: 16px;
  }

  .main-navbar{
      display: block;
      text-align: center;
  }

  .main-navbar ul{
      display: block;
  }
  .main-navbar li {
      display: inline-block;
      padding: 0 5%;
  }
  
  .main-navbar li a {
     font-size: 16px;
  }

  nav{
      display: block;
  }

 footer{
      display: block;
      position: relative;
      top: 50px;
      background-color: #012e40;
  }

  .module-footer {
      display: inline-block;
      position: relative;
      width: 33%;
  }
}
